/**
 * @name Bliss
 * @description A minimal flat theme with dark and light mode. Meant to be used with Glasscord.
 * @author katacarbix
 * @version 1.7
 * @source https://github.com/katacarbix/discord-stuff/themes/bliss/source.css
**/

/* Use this file if you want the theme to automatically update when a new version is published. */

@import url('https://katacarbix.github.io/discord-stuff/themes/bliss/source.css');

:root {
	/* Properties for Glasscord */
	/* See here for a full list of values: https://github.com/AryToNeX/Glasscord/wiki/CSS-Properties */
	
	/* Windows */
	--glasscord-win-blur: blurbehind;

	/* macOS */
	--glasscord-macos-vibrancy: fullscreen-ui;

	/* Linux */
	--glasscord-linux-blur: true;
	--glasscord-gnome-sigma: 111;
}

.theme-dark {
	/* background colors */
	--background-main: #161616;
	--background-panels: #111;
	--background-sidebar: #000c;
	--background-accent: #555;
	--background-round-btn: #4c4c4c;
	--background-floating: #181818;
	--background-floating-footer: #161616;
	--background-attachment: #090909;
	--background-textbox: #292929;
	
	--background-titlebar: #000;
	--background-scrollbar: #fff2;
	
	--background-channel-hover: rgba(255,255,255, 0.05);
	--background-channel-active: rgba(255,255,255, 0.075);
	--background-channel-selected: rgba(255,255,255, 0.1);
	
	--background-message-hover: rgba(255,255,255, 0.03);

	/* text colors */
	--text-normal: #fffd;
	--text-faded: #fff8;
	--text-bright: #fffe;
	--channel-normal: #fff9;
	--channel-muted: #fff5;
	--channel-selected: #fffc;
}
.theme-light {
	/* background colors */
	--background-main: #fff;
	--background-panels: #f9f9f9;
	--background-sidebar: #fffc;
	--background-accent: #333;
	--background-round-btn: #eee;
	--background-floating: #fff;
	--background-floating-footer: #f9f9f9;
	--background-attachment: #fff;
	--background-textbox: #f0f0f0;
	
	--background-titlebar: #fff;
	--background-scrollbar: #0001;
	
	--background-channel-hover: rgba(0,0,0, 0.025);
	--background-channel-active: rgba(0,0,0, 0.04);
	--background-channel-selected: rgba(0,0,0, 0.05);

	--background-message-hover: rgba(0,0,0, 0.02);

	/* text colors */
	--text-normal: #000d;
	--text-faded: #0008;
	--text-bright: #000c;
	--channel-normal: #0008;
	--channel-muted: #0005;
	--channel-selected: #000d;
}
