@import './source'; // ruby sass does NOT support plain css imports. use libsass or dart sass instead.
@import '/home/reese/.cache/wal/colors.scss'; // change this to the correct path on your system.

@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.css');

:root {
	$accentcolor: $color6;
	--accentcolor: #{red($accentcolor),green($accentcolor),blue($accentcolor)};
	
	$linkcolor: $color5;
	--linkcolor: #{red($linkcolor),green($linkcolor),blue($linkcolor)};
}

.theme-dark {
	--background-main: #{$background};
	--background-panels: #{darken($background, 3%)};
	--background-sidebar: #{rgba($background, 0.8)};
	--background-accent: #{$color1};
	--background-round-btn: #{$background};
	--background-floating: #{darken($background, 5%)};
	--background-floating-header: #{darken($background, 7%)};
	--background-attachment: #{darken($background, 2%)};
	--background-textbox: #{lighten($background, 5%)};
}
.theme-light {
	--background-main: #{lighten($background, 10%)};
	--background-panels: #{$background};
	--background-sidebar: #{rgba($background, 0.8)};
	--background-accent: #{$color1};
	--background-round-btn: #{darken($background, 5%)};
	--background-floating: #{lighten($background, 10%)};
	--background-floating-footer: #{$background};
	--background-attachment: #{lighten($background, 10%)};
	--background-textbox: #{darken($background, 2%)};
}
