/**
 * @name Bliss theme
 * @description Discord theme dependent on Glasscord. A minimal flat theme with dark and light mode.
 * @author katacarbix
 * @version 1.0
 */

:root{
	/* Properties for Glasscord */

	/* Windows */
	/* Blur mode. Available types: acrylic (strong blur), blurbehind (light blur), transparent */
	--glasscord-win-blur: blurbehind;

	/* macOS */
	/* Vibrancy mode */
	--glasscord-macos-vibrancy: fullscreen-ui;

	/* Linux */
	/* Currently supports KWin only */
	--glasscord-linux-blur: true;
}

.theme-dark {
	/* background colors */
	--background-main: #111;
	--background-sidebar: #000c;
	--background-accent: #555;
	--background-round-btn: #4c4c4c;
	--background-floating: #181818;
	--background-floating-header: #222;
	--background-attachment: #181818;
	--background-textbox: #282828;
	
	--background-titlebar: #000;
	--background-scrollbar: #333;
	
	--background-channel-hover: rgba(255,255,255, 0.05);
	--background-channel-active: rgba(255,255,255, 0.075);
	--background-channel-selected: rgba(255,255,255, 0.1);
	
	--background-message-hover: rgba(255,255,255, 0.03);

	/* text colors */
	--text-normal: #ddd;
	--text-faded: #888;
	--text-bright: #eee;
	--channel-normal: #999;
	--channel-muted: #9999;
	--channel-selected: #ccc;
}
.theme-light {
	/* background colors */
	--background-main: #fff;
	--background-sidebar: #fffc;
	--background-accent: #333;
	--background-round-btn: #eee;
	--background-floating: #fff;
	--background-floating-header: #fff;
	--background-attachment: #181818;
	--background-textbox: #f3f3f3;
	
	--background-titlebar: #fff;
	--background-scrollbar: #ccc;
	
	--background-channel-hover: rgba(0,0,0, 0.025);
	--background-channel-active: rgba(0,0,0, 0.04);
	--background-channel-selected: rgba(0,0,0, 0.05);

	--background-message-hover: rgba(0,0,0, 0.02);

	/* text colors */
	--text-normal: #333;
	--text-faded: #666;
	--text-bright: #111;
	--channel-normal: #333;
	--channel-muted: #3339;
	--channel-selected: #333;
}


/* DON'T EDIT THESE UNLESS YOU KNOW WHAT YOU'RE DOIN! */
:root {
	--header-primary: var(--text-bright);
	--header-secondary: var(--text-faded);
	--text-muted: var(--text-faded);
	--channels-default: var(--channel-normal);
	--interactive-normal: var(--text-faded);
	--interactive-hover: var(--channel-selected);
	--interactive-active: var(--channel-selected);
	--interactive-muted: var(--channel-muted);
	--background-primary: var(--background-main);
	--background-secondary: transparent;
	--background-secondary-alt: transparent;
	--background-tertiary: transparent;
	--background-modifier-hover: var(--background-channel-hover);
	--background-modifier-active: var(--background-channel-active);
	--background-modifier-selected: var(--background-channel-selected);
	--background-modifier-accent: transparent;
	--elevation-stroke: transparent;
	--elevation-low: none;
	--channeltextarea-background: var(--background-textbox);
	--deprecated-quickswitcher-input-background: var(--background-textbox);
	--deprecated-quickswitcher-input-placeholder: var(--text-faded);
	--deprecated-text-input-bg: var(--background-textbox);
	--deprecated-text-input-border: transparent;
	--deprecated-text-input-border-hover: transparent;
	--deprecated-text-input-border-disabled: transparent;
	--deprecated-text-input-prefix: var(--text-normal);
}

body {
	background-color: var(--background-sidebar)
}

/* Friend list */
.container-1D34oG {
	background-color: var(--background-main) !important;
}

/* floating dialogs */
.contentWrapper-2txmjs,
.messagesPopoutWrap-1MQ1bW,
.emojiPicker-3PwZFl {
	background-color: var(--background-floating) !important;
	box-shadow: var(--elevation-high) !important;
}

/* Emoji autocomplete */
.autocomplete-1vrmpx {
	background-color: var(--background-floating) !important;
}
.selectorSelected-1_M1WV {
	background-color: var(--background-channel-hover) !important;
}
.content-Qb0rXO {
	color: var(--text-normal) !important;
}
.description-11DmNu,
.descriptionUsername-J_75O8 {
	color: var(--text-muted) !important;
}

/* Search box */
.searchBar-3dMhjb {
	background-color: var(--background-textbox);
}

/* Settings screen */
.layer-3QrUeG,
.sidebarRegionScroller-3MXcoP,
.standardSidebarView-3F1I7i {
	background-color: transparent;
}

/* Stream preview */
.streamPreview-2-WUWT {
	background-color: var(--background-floating) !important;
}
.watchButton-2SbJEo {
	border-color: var(--text-normal) !important;
	color: var(--text-normal) !important;
}
.previewContainer-12UlHl {
	background-color: transparent !important;
}

/* Server indicator */
.iconBadge-2NuvG9.base-PmTxvP {
	color: var(--text-normal);
}

/* Unread indicators */
.unread-1xRYoj {
	opacity: 1;
}

/* Windows titlebar */
.titleBar-AC4pGV.typeWindows-1za-n7 {
	background-color: var(--background-titlebar);
	height: 23px;
	margin: 0;
}
.titleBar-AC4pGV.typeWindows-1za-n7 .winButton-iRh8-Z {
	top: 0;
}

/* Scrollbar */
.scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
	background-color: transparent !important;
	border: none !important;
}
.scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
	background-color: var(--background-scrollbar) !important;
}
